{% extends "base.html" %}

{% block title %}
Research
{% endblock %}



{% block content %}
<div>
    I am a bioinformatics researcher specializing in tool development for long-read and single-cell sequencing. As genomic and transcriptomic sequencing technologies advance, my work focuses on analyzing these complex datasets to derive clinically actionable insights, particularly in the realm of precision oncogenomics. I am passionate about the intersection of biology and programming, striving to create innovative tools that deepen our understanding of biology and enhance scientific discovery.
</div>
<br>
<div class="row">
    <div class="col">
        <div class='baseSubtitle'>Long read sequencing</div>
        Long-read sequencing brings key benefits to cancer genomics, including direct epigenetic marker identification, improved structural variant detection, and long-range phasing. As part of the Personalized Oncogenomics (POG) project, I used Nanopore sequencing to integrate phasing data with gene expression, uncovering allele-specific expression in over 130 tumor samples and identified frequent cis-acting variants regularing oncogene and tumor suppressors. 
    </div>
    <div class="col">
        <div class='baseSubtitle'>Single cell sequencing</div>
        Single-cell sequencing provides data at cellular resolution, offering insights unattainable through bulk sequencing. Using the DLP+ protocol, I am developing a tool to detect copy number changes in individual cells, a challenge due to low read depth per cell and the significant influence of the cell cycle. This is particularly important in cancer genomics, where understanding cellular heterogeneity sheds light on tumor evolution and treatment responses.
    </div>
</div>
<br>
<div>
    <div class="baseTitle" style="display: flex; align-items: center; justify-content: space-between;">
        <h2>Publications</h2>
        {% if user.is_authenticated and user.is_superuser %}
            <form method="POST" action="{% url 'update_database' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger btn-sm">Update database</button>
            </form>
        {% endif %}
    </div>
    List of my previous publications. My google scholar can be found <a href="https://scholar.google.ca/citations?user=vcb7qp4AAAAJ&hl=en">here</a>.

    {% for publication in publications %}
    <div class="container" id="publication-container">
        <div class="metadata">{{ publication.citation }}</div>
        <div class="publicationTitle">
            {{ publication.title }}
        </div>
        <div class="abstract">
            {{ publication.abstract }}
        </div>
        <a href="{{ publication.pub_url }}" class="btn btn-outline-secondary btn-sm" role="button" aria-disabled="true">DOI</a>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block style %}
<style>
    #publication-container {
        border: 1px solid rgba(200, 200, 200, 0.5);
        padding: 3%;
        margin-top: 10px;
    }
    .metadata {
        color: gray;
        font-size: small;
    }
    .publicationTitle {
        font-size: large;
        font-weight: bold;
        color: var(--blue);
    }
    .abstract {
        font-size: small;
    }
    .btn-sm {
        margin-top: 1%;
    }
</style>
{% endblock %}

{% block script %}
{% endblock script %}
