{% extends "base.html" %}

{% block title %}
About me
{% endblock %}

{% block content %}
<div>
    I am a bioinformatics research programmer at the Genome Science Center in Vancouver, BC, affiliated with BC Cancer Agency and currently working in the Steif lab. My research focuses on cancer genomics, particularly in the analysis of long-read and single-cell sequencing data. I am also very interested in programming, self learning python, machine learning and web development. 
    <br>
    <br>
    I earned a Master's of Science in Genome Science and Technology from the University of British Columbia in 2023, where I honed my skills in cancer genomics, bioinformatics, and data analysis. Prior to that, I graduated from the University of Toronto in 2021 with a degree in genomics and molecular biology (with a minor in psychology), which sparked my passion for genetics.
</div>
<br>
<div>
    <div class="aboutHeader">Work experience</div>
    <div>
        <div class="aboutTitle">Bioinformatic Research Programmer</div>
        <div class="aboutSubtitle">Genome Science Center (Steif Lab) - Vancouver, BC</div>
        <div class="aboutSubtitle">2023-Present</div>
        <div class="aboutWorkContent">
            <ul>
                <li>Analyzed single-cell whole-genome sequencing data and developed a Snakemake pipeline for processing and analysis</li>
                <li>Contributed to the development of a laboratory metadata management system to organize and archive lab-generated data.</li>
                <li>Mentored and supported students within the lab.</li>
                <li>Developed tools for analyzing absolute copy number changes in single-cell whole-genome sequencing data.</li>
            </ul>
        </div>
        <hr>
    </div>
    <div>
        <div class="aboutTitle">Master's Thesis Researcher</div>
        <div class="aboutSubtitle">Genome Science Center (Jones Lab) - Vancouver, BC</div>
        <div class="aboutSubtitle">2021-2023</div>
        <div class="aboutWorkContent">
            <ul>
                <li>Analyzed long-read sequencing data and RNA-seq to identify allele-specific expression.</li>
                <li>Created RShiny dashboard to summarize and visualize data</li>
                <li>Assembled genomes of Canadian species as part of the Canada Earth BioGenome project.</li>
                <li>Conducted cancer genomic analysis as part of the Personalized OncoGenomics (POG) project.</li>
            </ul>
        </div>
        <hr>
    </div>
    <div>
        <div class="aboutTitle">Teaching Assistant (MDS)</div>
        <div class="aboutSubtitle">University of British Columbia (Master's of Data Science) - Vancouver, BC</div>
        <div class="aboutSubtitle">2022-2023</div>
        <div class="aboutWorkContent">
            <ul>
                <li>Teaching assistant for data analysis, machine learning and cloud computing couses</li>
                <li>Hold office hours and helped students during course lectures and lab</li>
            </ul>
        </div>
        <hr>
    </div>
    <div>
        <div class="aboutTitle">Undergraduate Thesis Researcher</div>
        <div class="aboutSubtitle">University of Toronto (AK Wong Lab) - Toronto, ON</div>
        <div class="aboutSubtitle">2020-2021</div>
        <div class="aboutWorkContent">
            <ul>
                <li>Developed python programs to automatically analyze and segment CT angiogram brain scans</li>
                <li>Worked with image manipulation and machine learning tools using Python</li>
            </ul>
        </div>
        <hr>
    </div>
    <div>
        <div class="aboutTitle">Senior Student Library Assistant</div>
        <div class="aboutSubtitle">University of Toronto (EJ Pratt Library) - Toronto, ON</div>
        <div class="aboutSubtitle">2018-2020</div>
        <div class="aboutWorkContent">
            <ul>
                <li>Carry out circulation services</li>
                <li>Performed opening and closing duties</li>
            </ul>
        </div>
        <hr>
    </div>
    <div>
        <div class="aboutTitle">Research Assistant</div>
        <div class="aboutSubtitle">Laboratory of Neurological Disease (HKU) - Hong Kong</div>
        <div class="aboutSubtitle">2018-2018</div>
        <div class="aboutWorkContent">
            <ul>
                <li>Assisted with Alzheirmers Disease research project</li>
                <li>Performed rat behavioral test, qPCR, brain sectioning and data analysis</li>
            </ul>
        </div>
        <hr>
    </div>
    <div>
        <div class="aboutTitle">Primary School Tutor</div>
        <div class="aboutSubtitle">Great Glory Education Center - Hong Kong</div>
        <div class="aboutSubtitle">2016-2017</div>
        <div class="aboutWorkContent">
            <ul>
                <li>Taught science and math summer school course</li>
                <li>Helped supervise primary school students </li>
            </ul>
        </div>
        <hr>
    </div>
</div>
<br>
<div>
    <div class="aboutHeader">Volunteer Experiences</div>
    <div class="volunteer" style="display: flex; justify-content: space-between;">
        <div style="text-align: left;">
            <strong>Committee Member</strong> | Common Kitchen Committee, Green College | Vancouver, BC
        </div>
        <div style="text-align: right;">
            2021 - 2023
        </div>
    </div>
    <div class="volunteer" style="display: flex; justify-content: space-between;">
        <div style="text-align: left;">
            <strong>Co-Chair</strong> | Intercollegiate Committee, Green College | Vancouver, BC
        </div>
        <div style="text-align: right;">
            2021 - 2022
        </div>
    </div>
    <div class="volunteer" style="display: flex; justify-content: space-between;">
        <div style="text-align: left;">
            <strong>Organizer</strong> | BIG22 conference, UBC | Vancouver, BC	
        </div>
        <div style="text-align: right;">
            2021 - 2022
        </div>
    </div>
    <div class="volunteer" style="display: flex; justify-content: space-between;">
        <div style="text-align: left;">
            <strong>Volunteer Tutor</strong> | Education to Inspire Tutoring | Toronto, ON (virtual)	
        </div>
        <div style="text-align: right;">
            2020 - 2021
        </div>
    </div>
    <div class="volunteer" style="display: flex; justify-content: space-between;">
        <div style="text-align: left;">
            <strong>Volunteer</strong> | Canadian Cancer Society | Toronto, ON
        </div>
        <div style="text-align: right;">
            2019 - 2019
        </div>
    </div>
    <div class="volunteer" style="display: flex; justify-content: space-between;">
        <div style="text-align: left;">
            <strong>Member</strong> | Plant Biotechnology Focus Group | Toronto, ON
        </div>
        <div style="text-align: right;">
            2018 - 2021
        </div>
    </div>
    <div class="volunteer" style="display: flex; justify-content: space-between;">
        <div style="text-align: left;">
            <strong>Volunteer</strong> | UHN Multi-organ Transplant Clinic | Toronto, ON
        </div>
        <div style="text-align: right;">
            2018 - 2020
        </div>
    </div>
    <div class="volunteer" style="display: flex; justify-content: space-between;">
        <div style="text-align: left;">
            <strong>Mentorship</strong> | Medical Science Student Union | Toronto, ON
        </div>
        <div style="text-align: right;">
            2018 - 2019
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
<style>
    .aboutHeader {
        font-size: x-large;
        font-weight: bolder;
        color: var(--dark-blue);
        margin-bottom: 5px;
    }
    .aboutTitle {
        font-size: medium;
        color: var(--blue);
    }
    .aboutSubtitle {
        font-size: small;
        color: gray;
    }
    .aboutWorkContent {
        font-size: small;
    }
    .volunteer {
        font-size: small;
    }
    strong {
        color: var(--medium-blue);
    }
</style>
{% endblock %}

{% block script %}
{% endblock script %}

